Dockerfile*
.dockerignore
docker-compose.yml

requirements_dev.txt
requirements_test.txt
pyproject.toml
LICENSE
README.md
Makefile
.flaskenv
.gitignore
access.txt

.git/
.venv/
.vscode/
instance/
__pycache__/
flask_session/
database_data/
application_data/