{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}
    <div class="px-3 mx-auto my-auto w-75">
        <div class="text-center">
            <h2 class="h2 fw-normal mb-4">Órgãos</h2>
            {% if orgaos %}
                <table class = "table table-stripped text-center">
                    <tr>
                        <th scope = "col">Nome</th>
                        <th scope = "col">Endereço</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for orgao in orgaos %}
                        <tr>
                            <td>{{ orgao.name }}</td>
                            <td>{{ orgao.address }}</td>
                            <td>
                                <a href="#" class="btn btn-outline-info btn-sm">Acessar</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-outline-info btn-sm">Editar</a>
                            </td>
                            <td>

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Você não participa de nenhum órgão no momento.</p>
            {% endif %}

            {% if current_user.is_adm %}
                <a href="{{ url_for('application.create_orgao') }}" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 flex items-center mt-4">
                    <span>Criar Órgão</span>
                    <span class="ml-2 text-sm">
                        <i class="fas fa-info-circle"></i>
                    </span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
