{% extends "base.html" %}
{% set active_page = "home" %}
{% from "macros.html" import render_table %}

{% block content %}
<div class="container my-5 px-3 mx-auto w-75">
    <div class="text-center">
        <h2 class="h2 fw-normal mb-4">
            <i class="bi bi-buildings-fill"></i> 
            Órgãos
        </h2>

        <form class="d-flex mb-4 w-50 m-auto" role="search">
            <div class="input-group">
                <i class="input-group-text bi bi-search border-0" aria-hidden="true"></i>
                <input class="form-control border-0 p-2 shadow-lg" type="text" placeholder="Buscar pelo nome do órgão">
            </div>
        </form>

        {% if current_user.role.name == 'admin' %}
            <div class="position-fixed bottom-0 end-0 m-5">
                <a
                    href="{{ url_for('organ.create_organ') }}"
                    class="btn btn-outline-primary m-5 btn-lg"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Criar Órgão"
                >
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
        {% endif %}

        {{ render_table(organs, "organ") }}
    </div>
</div>
{% endblock %}
