<!-- Macros para formularios -->

{% macro render_form(form, current_user, isEdit) %}
    <form method="POST" autocomplete="off">
        {{ form.hidden_tag() }}

        {% for field in form if field.type not in ['HiddenField', 'SubmitField', 'FieldList'] and field.name != 'csrf_token' %}
            <div class="form-floating mb-3">
                {{ field(class = "form-control", placeholder="{{field.label}}")}}

                <label for="floatingName">{{field.label}} {% if is_field_required(field) %} <span class="text-danger">* (Obrigatório)</span>{% endif %}</label>

                {% for error in field.errors %}
                    <span class="text-danger mt-1" style="font-size:smaller">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="mb-4 position-relative">
            <label for="admin_autocomplete" class="form-label">
                <i class="bi bi-person-search me-2"></i>
                Administradores
            </label>

            <input
                type="text"
                class="form-control"
                id="admin_autocomplete"
                placeholder="Pesquisar por admins..."
            >
            <div id="result-container" class="position-absolute w-100 bg-light rounded-bottom"></div>
        </div>

        <ul id="selected_admins" class="list-group mt-2 rounded">
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
                data-id="{{ current_user.id }}"
            >
                {{ current_user.name }} [{{ current_user.cpf_censored }}] (você mesmo)

                <span class="badge bg-info">Administrador</span>
            </li>
        </ul>

        <input
            type="hidden"
            name="admin_ids-{{ current_user.id }}"
            value="{{ current_user.id }}"
            id="admin_ids-{{ current_user.id }}"
        />

        {% if not isEdit %}
            <div class="text-center mt-3">
                {{ form.submit(class = "btn btn-primary w-100") }}
            </div>
        {% else %}
            <button type="submit" class="btn btn-primary mt-4">
                <i class="bi bi-save me-2"></i> 
                Salvar Alterações
            </button>
        {% endif %}
    </form>
{% endmacro %}

{% macro render_table(object, route) %}
    {% if object %}
        <table class="table table-borderless table-sm table-auto text-start">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
            </tr>

            {% for obj in object %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.address }}</td>

                    <td class="text-center">
                        <div class="dropdown">
                            <span class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </span>
                            {% set params = {"{}_id".format(route) : obj.id} %}
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" 
                                href="{{ url_for('{}.get_{}'.format(route, route), **params) }}">Acessar</a></li>
                            <li><a class="dropdown-item" 
                                href="{{ url_for('{}.edit_{}'.format(route, route), **params) }}">Editar</a></li>
                            </ul>
                        </div>
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nada por aqui no momento</p>
    {% endif %}
{% endmacro %}