{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">
        <i class="bi bi-buildings-fill"></i> 
        {{ organ.name }}
    </h2>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <i class="bi bi-info-circle"></i> 
                    Informações Gerais
                </div>
    
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <strong>Endereço:</strong> 
                                {{ organ.address }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <strong>CNPJ:</strong> 
                                {{ organ.cnpj }}
                            </p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <strong>E-mail:</strong> 
                                {{ organ.email }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <strong>Telefone:</strong> 
                                {{ organ.telephone }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="h2 fw-normal mb-4 text-center">
                <i class="bi bi-building-gear"></i> 
                Instituições
            </h2>
        
            {% if institutions %}
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Endereço</th>
                            <th colspan="2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for institution in institutions %}
                            <tr>
                                <td>{{ institution.name }}</td>
                                <td>{{ institution.address }}</td>
                                <td>
                                    <a href="{{ url_for('institution.get_institution', institution_id=institution.id) }}" class="btn btn-outline-info btn-sm">
                                        Acessar
                                    </a>
                                    <a href="{{ url_for('institution.edit_institution', institution_id=institution.id) }}" class="btn btn-outline-info btn-sm">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p class="text-center">A organização {{ organ.name }} não possui instituições associadas.</p>
            {% endif %}
        
            {% if current_user.role.name == 'admin' %}
                <div class="text-center">
                    <a
                        href="{{ url_for('institution.create_institution') }}"
                        class="btn btn-primary mb-3"
                    >
                        <span>Criar Instituição</span>
                        <span class="ms-2">
                            <i class="bi bi-plus"></i>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}