{% extends "base.html" %}
{% from "macros.html" import render_table %}

{% block content %}
<div class="container my-auto px-3 mx-auto w-75">
    <h2 class="h2 fw-normal mb-4 mb-4">
        <i class="bi bi-building-gear"></i> 
        {{ institution.name }}
    </h2>

    <!-- Floating Button para criar Instituição -->
    {% if current_user.role.name == 'admin' %}
        <div class="position-fixed bottom-0 end-0 m-5">
            <a
            href="{{ url_for('institution.get_post_institution_creation') }}"
            class="btn btn-primary m-5 btn-lg btn-circle" 
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top"
            >
            <i class="bi bi-plus-lg"></i>
            </a>
        </div>
    {% endif %}

    <!-- Informações Gerais do Orgão -->
    <div class="row">
        <div class="card-shadow">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-info-circle"></i> 
                    Informações Gerais
                </div>
    
                <div class="card-body">
                    <div class="row row-cols-2">
                        <div class="col">
                            <p>
                                <strong>Endereço:</strong> 
                                {{ institution.address }}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <strong>CNPJ:</strong> 
                                {{ institution.cnpj }}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <strong>E-mail:</strong> 
                                {{ institution.email }}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <strong>Telefone:</strong> 
                                {{ institution.telephone }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
            <div class="text-center">
                <h3 class="h3 fw-normal mb-4">
                    <i class="bi bi-building-fill"></i> 
                    Unidades
                </h3>
                <form class="d-flex mb-4 w-50 m-auto" role="search">
                    <div class="input-group">
                        <i class="input-group-text bi bi-search" aria-hidden="true"></i>
                        <input class="form-control" type="text" placeholder="Buscar pelo nome do órgão">
                    </div>
                </form>
                {{ render_table(units, "unit") }}
            </div>
    </div>
</div>
{% endblock %}