{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4"><i class="bi bi-file-earmark-plus"></i> Criar nova análise</h2>
    <div class="card shadow">
        <div class="card-body">
            <form id="analysis-form" method="post">
                {{ form.hidden_tag() }}
                <div class="mb-4">
                    <label for="description" class="form-label"><i class="bi bi-card-text me-2"></i>Descrição</label>
                    {{ form.description(class="form-control", placeholder="Descrição") }}
                </div>
                <div class="mb-4 position-relative">
                    <label for="admin_autocomplete" class="form-label"><i
                            class="bi bi-person-search me-2"></i>Administradores</label>
                    <input type="text" class="form-control" id="admin_autocomplete"
                        placeholder="Pesquisar por admins...">
                    <div id="loading" class="position-absolute top-100 start-0 d-none">
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="result-container" class="position-absolute w-100 bg-light rounded-bottom"></div>
                </div>
                <ul id="selected_admins" class="list-group mt-2 rounded">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        data-id="{{ current_user.id }}">
                        {{ current_user.name }} [{{ current_user.cpf_censored }}] (você mesmo)
                        <span class="badge bg-info">Administrador</span>
                    </li>
                </ul>
                <input type="hidden" name="admin_ids-{{ current_user.id }}" value="{{ current_user.id }}"
                    id="admin_ids-{{ current_user.id }}" />
                <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-plus-square me-2"></i>Criar
                    Análise</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var current_id = '{{ current_user.id }}';
        var selectedAdmins = [parseInt(current_id)];

        $('#admin_autocomplete').autocomplete({
            appendTo: "#result-container",
            source: function (request, response) {
                $("#loading").removeClass("d-none");
                $.getJSON('{{ url_for("api.get_users") }}', { query: request.term }, function (data) {
                    response(data.users);
                    $("#loading").addClass("d-none");
                });
            },
            focus: function (event, ui) {
                return false;
            },
            select: function (event, ui) {
                if (selectedAdmins.includes(ui.item.id)) return false;
                selectedAdmins.push(ui.item.id);
                const adminItem = $(`
                <li class="list-group-item d-flex justify-content-between align-items-center" data-id="${ui.item.id}">
                    ${ui.item.name} <span class="badge bg-secondary">${ui.item.title || "Sem título"}</span>
                    <button class="remove-admin btn btn-outline-danger btn-sm">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </li>
            `);
                $('#selected_admins').append(adminItem);
                $(`<input type="hidden" name="admin_ids-${ui.item.id}" value="${ui.item.id}" id="admin_ids-${ui.item.id}" />`).appendTo('#analysis-form');
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            const listItem = $("<li>").appendTo(ul);
            const div = $("<div>").addClass("d-flex justify-content-between align-items-center").appendTo(listItem);
            const name = $("<span>").text(item.name).appendTo(div);
            const cpf = $("<span>").text(`(${item.cpf})`).addClass("text-muted").appendTo(div);
            return listItem;
        };

        $(document).on('click', '.remove-admin', function () {
            const listItem = $(this).closest('li');
            const id = listItem.data('id');
            selectedAdmins = selectedAdmins.filter(adminId => adminId !== id);
            listItem.remove();
            $(`#admin_ids-${id}`).remove();
        });
    });
</script>
{% endblock %}