{% extends 'base.html' %}
{% block content %}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-sm-8 col-md-12 col-lg-8">
    
    <h2 class="h2 fw-normal my-4">
        <i class="bi bi-list me-3"></i>
        Categorias
    </h2>

    <div class="table-responsive">
        <table class="table table-striped" style="font-size: 1.3rem; line-height: 2;">
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td class="text-center">
                        <div class="dropdown">
                            <span type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </span>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-arrow-right-square me-2"></i>
                                        Acessar subcategorias
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="{{ url_for('admin.category.edit_category', category_id=category.id) }}">
                                        <i class="bi bi-pencil-square me-2"></i>
                                        Editar categoria
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not has_prev_page %}disabled{% endif %}">
                <a class="page-link"
                    href="{{ url_for('admin.category.view_categories', page=pagination.page-1) }}">Anterior</a>
            </li>
            <li class="page-item {% if not has_next_page %}disabled{% endif %}">
                <a class="page-link"
                    href="{{ url_for('admin.category.view_categories', page=pagination.page+1) }}">Próximo</a>
            </li>
        </ul>
    </nav>
    <div class="position-fixed bottom-0 end-0 m-3">
        <a href="{{ url_for('admin.category.create_category') }}" class="btn btn-primary btn-lg"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Criar Categoria">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
    
    </div>
</div>

{% endblock %}