{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <h1 class="mb-4 text-center display-4">Todas Categorias</h1>

    <div class="text-start mb-4" style="max-width: 70%; margin:auto;">
        <h2 class="display-6" style="font-size: 2rem;">Categorias</h2>
    </div>

    <div class="table-responsive" style="max-width: 70%; margin:auto;">
        <table class="table table-striped table-hover" style="font-size: 1.3rem; line-height: 2;">
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not has_prev_page %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin_configurations.view_categories', page=pagination.page-1) }}">Anterior</a>
            </li>
            <li class="page-item {% if not has_next_page %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin_configurations.view_categories', page=pagination.page+1) }}">Próximo</a>
            </li>
        </ul>
    </nav>
    <div class="position-fixed bottom-0 end-0 m-3">
        <a
            href="{{ url_for('admin_configurations.category_form') }}"
            class="btn btn-primary btn-lg"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Criar Categoria"
        >
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
</div>

{% endblock %}
