{% extends "base.html" %}
{% set active_page = "admin" %}
{% from 'macros.html' import render_form %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h3 class="h3 fw-normal mb-4 text-center">
                        <i class="bi bi-shield-fill-exclamation"></i>
                        Criar nova Categoria de Vulnerabilidade
                    </h3>

                    {{ render_form(form, current_user, False, hasAdminList = False) }}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}