{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <h2 class="h2 fw-normal mb-4">
        <i class="bi bi-list me-3"></i>
        Subategorias
    </h2>

        <table class="table table-striped" style="font-size: 1.3rem; line-height: 2;">
            <tbody>
                {% for subcategory in subcategories %}
                <tr>
                    <td>{{ subcategory.name }}</td>
                    <td class="text-center" style="width: 100px;"> <!-- Largura fixa aqui -->
                        <div class="dropdown">
                            <span type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </span>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('admin.vulnerability.view_vulnerabilities', subcategory_id=subcategory.id) }}">
                                        <i class="bi bi-arrow-right-square me-2"></i>
                                        Acessar Vunerabilidades
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="{{ url_for('admin.subcategory.edit_subcategory', subcategory_id=subcategory.id) }}">
                                        <i class="bi bi-pencil-square me-2"></i>
                                        Editar 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not has_prev_page %}disabled{% endif %}">
                <a class="page-link"
                    href="{{ url_for('admin.subcategory.view_subcategories', page=pagination.page-1) }}">Anterior</a>
            </li>
            <li class="page-item {% if not has_next_page %}disabled{% endif %}">
                <a class="page-link"
                    href="{{ url_for('admin.subcategory.view_subcategories', page=pagination.page+1) }}">Próximo</a>
            </li>
        </ul>
    </nav>
    <div class="position-fixed bottom-0 end-0 m-3">
        <a href="{{ url_for('admin.subcategory.create_subcategory',category_id=category_id) }}" class="btn btn-primary btn-lg"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Criar SubCategoria">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
</div>

{% endblock %}
